[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
nbformat = "*"
scipy = "*"
islp = "*"
scikit-learn = "*"
seaborn = "*"
statsmodels = "*"
nbconvert = "*"
pandoc = "*"

[dev-packages]

[requires]
python_version = "3.11"
